html{
    background-image: linear-gradient(white 100%);
}
#nav_menu ul {list-style-type: none;}
#nav_menu ul li{float: left;}
#nav_menu ul li a {
    text-align:center;
    display:block;
    width:175px;
    padding:1em 0;

    text-decoration:none;
    background-color:blue;
    color:white;
    font-weight:bold;
    border-right:2px solid white;}
article h2 p::first-letter {
    font-weight:bold;
    font-style:italic;
    font-size:larger;
}

aside ol{
    list-style-type:upper-roman;
}
aside ul{
    list-style-type:square;
}
h2 img{
    float: left;
    margin-left: 2em
}
footer p.copyright{
    text-align:center;
    
}
body{
    width:95%;
    margin: 15px auto;
}
article{
    width:75%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted maroon;
    column-gap: 2em;
    margin-left: 2em;
    clear: left;
}
aside{
}
h1{
    
}